        * {
            margin: 0px;
            padding: 0px;
        }
        body {
            background:url(Imágenes/urbano-1.jpg)rgb(104, 37, 84);
            background-size: cover;
            background-position: center;
            padding: 60px;
            background-repeat: no-repeat;
            font-family: 'Times New Roman', Times, serif;
            overflow: scroll;
        }
/*
        video {
            top: 0;
            left: 0;
            object-fit: cover;
            position: fixed;
            width: 100vw;
            height: 100vh;
            z-index: -2;
            }
*/    
        div { 
            margin: auto;
            width: 700px;
            height: 90%;
            background-color: rgba(10, 10, 10, 0.438);
            backdrop-filter: blur(6px);
            border-radius: 10px;
            box-shadow: 10px 10px 10px rgb(158, 103, 112), -10px -10px 10px rgb(22, 1, 5);
            overflow:hidden;
            
        }
        header{
            color: rgb(95, 32, 43);
            text-align: center;
        }
        header h1 {
            text-shadow: 1px 1px 2px pink, -5px -5px 3px pink;
            font-size: 70pt;

        }


        main {
            height: 700px;
            width: 70%;
            background: linear-gradient(rgba(29, 17, 27, 0.575), rgba(248, 122, 143, 0.301)), url(Imágenes/blackpink-deadline-cover-27525.webp);
            background-size: cover;
            background-position: center;
            background: blur(2px);
            border-top-right-radius: 10px;
            font-size: 10pt;
            padding: 40px;
            overflow: scroll;
    
        }
        main img {
            max-width: 70%;
            max-height: 100%;
            filter: blur(3px);
           
        }
        main article {
            margin: auto;
            max-width: 90%;
            max-height: 30%;
            text-align: center;
            border-radius: 10px;
            box-shadow: 10px 10px 10px black, -10px -10px 10px black;
            padding: 20px;
            backdrop-filter: blur(2px);
            margin-bottom: 70px;
            overflow: scroll;
            transition: 0.9s;
        }
        main article:hover {
            transform: scale(1.1);
            backdrop-filter: blur(0px);
            color: #ffffff;
        }
        main article h4 {
            font-size: 3em;
            width: 100%;
            color:rgb(65, 6, 57);
            text-shadow: 3px 3px rgb(58, 43, 45), -2px -2px rgb(0, 0, 0), 5px 5px 40px white;
            text-align: center;
            letter-spacing: 2px;
            
        }
        main article p {
            line-height: 30px;
            text-shadow: 5px 5px 10px white;
        }
        nav {
            background-color: rgba(240, 248, 255, 0.226);
            box-shadow: 5px 5px 30px white;
            margin-bottom: 10px;
            border-radius: 10px;
            padding: 5px;
            height: 40px;
        }
        nav h2 {
            text-align: center;
            padding-bottom: 10px;
            transition: 0.3s;
            color: rgba(240, 248, 255, 0.226);
            filter: blur(3px);
        }
        h2 b {
            transition: 0.3s;
        }
        h2 b:hover {
            color:rgb(255, 0, 221);
            filter: blur(0px);
            font-size: 20pt;
        }
        h2:hover {
            color: black;
            transform: scale(1.01);
            filter: blur(0px);
        }
        footer {
            margin-top:70px;
            width: 120%;
            height: 100px;
            color:white
        }